{
  "extends": [
    "airbnb",
    "plugin:@typescript-eslint/recommended",
    "plugin:import/typescript",
    "plugin:prettier/recommended",
    "prettier/react",
    "prettier/standard"
  ],
  "parser": "@typescript-eslint/parser",
  "env": {
    "browser": true,
    "jest": true
  },
  "overrides": [
    {
      "files": ["test/**/*.[j|t]s?(x)"],
      "rules": {
        "no-console": "off"
      }
    }
  ],
  "plugins": ["@typescript-eslint/eslint-plugin", "prettier"],
  "rules": {
    "camelcase": "off",
    "lines-between-class-members": "off",
    "no-restricted-syntax": ["error", "DebuggerStatement", "LabeledStatement", "WithStatement"],
    "no-use-before-define": "off",
    "spaced-comment": [
      "warn",
      "always",
      {
        "exceptions": ["-+"],
        "markers": [
          "eslint-disable",
          "eslint-disable-line",
          "eslint-disable-next-line",
          "eslint-enable"
        ]
      }
    ],
    "@typescript-eslint/ban-ts-comment": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-non-null-assertion": "off",
    "@typescript-eslint/no-unused-vars": ["warn", { "ignoreRestSiblings": true }],
    "@typescript-eslint/no-use-before-define": "error",
    "import/extensions": ["warn", "never"],
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }],
    "import/prefer-default-export": "off",
    "react/jsx-fragments": "off",
    "react/jsx-filename-extension": "off",
    "react/jsx-props-no-spreading": "off",
    "react/no-unescaped-entities": "off",
    "react/prop-types": "off",
    "react/sort-comp": [
      "warn",
      {
        "order": ["lifecycle", "everything-else", "render"],
        "groups": {
          "lifecycle": [
            "state",
            "instance-variables",
            "constructor",
            "statics",
            "contextTypes",
            "childContextTypes",
            "getChildContext",
            "propTypes",
            "defaultProps",
            "shouldComponentUpdate",
            "componentWillMount",
            "componentDidMount",
            "componentWillReceiveProps",
            "componentWillUpdate",
            "componentDidUpdate",
            "componentWillUnmount"
          ]
        }
      }
    ],
    "react/static-property-placement": "off"
  }
}
